* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  color: #585858;
}

body {
  background-color: #fff;
}

.calc {
  padding: 10px;
  background-color: #ebebeb;
  width: 400px;
  position: absolute;
  top: 5vh;
  left: 34vw;
  border-radius: 5px;
}

.section {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

span {
  font-size: 16px;
  font-weight: bold;
  color: #585858;
  margin-bottom: 4px;
}

div .error {
  height: 13px;
}

.error span {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  color: red;
}

.button {
  font-size: 16px;
  padding: 9px 0;
  margin: 0 1px;
  color: #585858;
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;  
}

.button:hover {
  cursor: pointer;
  background-color: #e15e7d;
  color: #fff;
}

.button-clicked {
  background-color: #e15e7d;
  color: #fff;
}

.button-group {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.button-small {
  width: 33%;
}

.button-normal {
  width: 50%;
}

.button-large {
  letter-spacing: 1px;
  width: 100%;
  color: #fff;
  border-style: none;
  background-color: #e15e7d;
  border-bottom-style: solid;
  border-color: #000;
  border-width: 1px;
  border-radius: 5px;
}

.button-large:active {
  border-color: transparent;
  transform: translateY(1px);
}

input[type="text"] {
  font-size: 16px;
  color: #585858;
  border-color: #ccc;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;  
  padding: 6px 6px;
  width: 80%;
}

input::placeholder {
  opacity: .6;
}

label {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.hidden {
  opacity: 0;
  height: 0;
}

.result h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#result-imc {
  font-weight: bold;
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 12px;
}


.result-table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid;
  border-width: 1px;  
  border-color: #ccc;
}

.result-table tr {
  width: 50%;
  height: 35px;
  text-align: center;
  border: solid;
  border-color: #ccc;
  border-width: 1px;  
}

.result-table tr:nth-child(even) {
  background-color: #fff;
}

.result-highlight-bad {
  background-color: #fc0 !important;
}
.result-highlight-good {
  background-color: #0f0 !important;
}
